@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
}

body {
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bodyBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.header {
    width: 300px;
    height: 100px;
    border-bottom: .5px solid lightgray;
    /* background-color: teal; */
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.frame {
    position: absolute;
    margin-bottom: 100px;
    transition: 0.2s all;
}

.frame:hover {
    transform: translateY(-10px);
}

.profile {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main {
    width: 100%;
    height: 100px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.name {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    margin-top: 15px;
    /* background-color: yellow; */
}

#full_name {
    font-weight: 900;
}

#age{
    color: gray;
}

#location {
    margin-top: 5px;
    font-size: x-small;
    color: gray;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 0.1px solid lightgray;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}

.stats:hover {
    transform: translateY(-10px);
}

.number {
    font-weight: 900;
}

.metric {
    font-size: x-small;
    color: gray;
}

